<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .button-container {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
        }

        .button-container a {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>ยินดีต้อนรับสู่มวณความรู้</h1>
    <a href="{{ url_for('home') }}">
        <button>กลับไปหน้าแรก</button>
    </a>
    <div class="button-container">
        <a href="{{ url_for('questions') }}">
            <button style="width: 200px; height: 500px; margin: 10px;">
                <img src="{{ url_for('static', filename='images/questions.png') }}" alt="รวมโจทย์"
                    style="width: 100px; height: 100px;">
                <br>รวมโจทย์
            </button>
        </a>
        <a href="{{ url_for('exams') }}">
            <button style="width: 200px; height: 500px; margin: 10px;">
                <img src="{{ url_for('static', filename='images/exams.png') }}" alt="ข้อสอบ"
                    style="width: 100px; height: 100px;">
                <br>ข้อสอบ
            </button>
        </a>
        <a href="{{ url_for('tips') }}">
            <button style="width: 200px; height: 500px; margin: 10px;">
                <img src="{{ url_for('static', filename='images/tips.png') }}" alt=""
                    style="width: 100px; height: 100px;">
                <br>ทริคการอ่าน
            </button>
        </a>
    </div>
</body>

</html>